.tweet-header-contents {
  margin-top: 5px;
  display: flex;
  margin-bottom: 3px;
}

.tweet-header-sticky {
  z-index: 100;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
}
.tweet-header-arrow {
  margin-left: 15px;
  margin-top: 8px;
  margin-right: 25px;
}

.arrow-svg {
  width: 15px;
}
.tweet-header-info-name {
  font-size: 15px;
  font-weight: 700;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
}
.tweet-header-info-posts {
  margin-right: 5px;
  font-size: 10px;
  color: rgb(83, 100, 113);
  margin-bottom: 5px;
}
