<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="parentTable" value="Recipe" />
		<add key="childTable" value="Ingredient" />
		<add key="foreignKeyConstraint" value="FK__Ingredien__Recip__1546D82E" />
		<add key="primaryKey" value="RecipeID" />
		<add key="foreignKey" value="RecipeID" />
		<add key="selectAllFromParent" value="SELECT * FROM Recipe" />
		<add key="selectAllFromChild" value="SELECT * FROM Ingredient" />
		<add key="parentTable1" value="Cook" />
		<add key="childTable1" value="HelperChef" />
		<add key="foreignKeyConstraint1" value="FK__HelperChe__CookI__621C39E3" />
		<add key="primaryKey1" value="CookID" />
		<add key="foreignKey1" value="CookID" />
		<add key="selectAllFromParent1" value="SELECT * FROM Cook" />
		<add key="selectAllFromChild1" value="SELECT * FROM HelperChef" />
	
	</appSettings>
</configuration>