<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="parentTable" value="Cook" />
		<add key="childTable" value="HelperChef" />
		<add key="foreignKeyConstraint" value="FK__HelperChe__CookI__621C39E3" />
		<add key="primaryKey" value="CookID" />
		<add key="foreignKey" value="CookID" />
		<add key="selectAllFromParent" value="SELECT * FROM Cook" />
		<add key="selectAllFromChild" value="SELECT * FROM HelperChef" />
	</appSettings>
</configuration>