<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="parentTable" value="Recipe" />
		<add key="childTable" value="Ingredient" />
		<add key="foreignKeyConstraint" value="FK__Ingredien__Recip__1546D82E" />
		<add key="primaryKey" value="RecipeID" />
		<add key="foreignKey" value="RecipeID" />
		<add key="selectAllFromParent" value="SELECT * FROM Recipe" />
		<add key="selectAllFromChild" value="SELECT * FROM Ingredient" />
	</appSettings>
</configuration>